.checkit {
  font-family: 'Indie Flower', cursive;
  font-size: 4rem;
}

.checkit-signedIn {
  font-family: 'Indie Flower', cursive;
  font-size: 3rem;
}

u:hover {
  cursor: pointer;
}

.app-frame {
  height: 100vh;
  padding: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list-item {
  display: flex;
  align-items: center;
}

.update-form {
  flex-grow: 1;
}
