.app-frame {
  height: 100vh;
  padding: 0;
}

.list-item {
  display: flex;
  align-items: center;
}

.update-form {
  flex-grow: 1;
}

.input-group-append{
  /* opacity: 0; */
}
.form-control-plaintext:focus + .input-group-append{
  opacity: 1;
}
